* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 1024px;
  height: 768px;
}

#wrapper {
  border-top: 19px solid #000;
}

#content {
  float: right;
}