<div id="usual1" class="usual"> 
  <ul> 
    <li class="dashboard"><a href="#dashboard" class="selected">Dashboard</a></li> 
    <li class="jobs"><a href="#jobs">Jobs</a></li> 
    <li class="contacts"><a href="#contacts">Contacts</a></li> 
    <li class="stock"><a href="#stock">Stock</a></li>
    <li class="quotes"><a href="#quotes">Quotes</a></li>
    <li class="invoices"><a href="#invoices">Invoices</a></li>
  </ul> 
  <div id="dashboard" style="display: block; ">Dashboard</div> 
  <div id="jobs" style="display: none; ">Jobs</div> 
  <div id="contacts" style="display: none; ">Contacts</div>
  <div id="stock" style="display: none; ">Stock</div> 
  <div id="quotes" style="display: none; ">Quotes</div> 
  <div id="invoices" style="display: none; ">Invoices</div>  
</div> 
 
<script type="text/javascript"> 
  $("#usual1 ul").idTabs(); 
</script>